Html, body{
		height:100%;
		margin:0px; padding:0;
	}
	.grandParentContaniner{
		display:table; height:100%; margin: 0 auto;
	}

	.parentContainer{
		display:table-cell; vertical-align:middle;
	}

	.md-home {  background-image: url("../images/bg1.png");
	background-repeat: repeat;}
	.md-admin {background:#6c75c2; background-image: url("../images/ad_bg2.png");background-position: center;
    background-repeat: repeat;
    background-size: cover; 	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  }
	.form-control {
       /* min-height: 41px;
		background: #fff;
		box-shadow: none !important;
		border-color: #e3e3e3;*/
	}
	.form-control:focus {
		border-color: #70c5c0;
	}
    .form-control, .btn {        
        border-radius: 2px;
    }
	.login-form { 
	    width: 320px;
		margin: 0 auto;
		padding: 50px 0 30px;		
	}
	.login-form form {
		color: #7a7a7a;
		border-radius: 2px;
    	margin-bottom: 15px;
        font-size: 13px;
        background: #ececec;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;	
        position: relative;	
    }
	.login-form h2 {
		font-size: 22px;
        margin: 35px 0 25px;
    }
	.login-form .avatar {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -50px;
		width: 95px;
		height: 95px;
		border-radius: 50%;
		z-index: 9;
		background: #02b5fa;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
	.login-form .avatar i {
	font-size: 70px;
    color: #fff;
    position: relative;
    left: 7px;
    top: -5px;}
	.login-form .avatar img {
		width: 100%;
	}	
    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }
    .login-form .btn {        
        font-size: 16px;
        font-weight: bold;
		background: #02b5fa;
		border: none;
		margin-bottom: 20px;
    }
	.login-form .btn:hover, .login-form .btn:focus {
		background:#03abec;
        outline: none !important;
	}    
	.login-form a {
		color: #fff;
		text-decoration: underline;
	}
	.login-form a:hover {
		text-decoration: none;
	}
	.login-form form a {
		color: #7a7a7a;
		text-decoration: none;
	}
	.login-form form a:hover {
		text-decoration: underline;
	}
	.userlogin-form {
    width: 340px;
    margin: 50px auto;
}
.userlogin {     background: #5e68bc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border: 15px solid #fff;
    padding: 10px 25px;  /*height: 400px;*/}
.userlogin-form form {
    margin-bottom: 15px;
   border-radius:10px; border:2px solid #f7f7f7; background: rgba(9, 9, 9, 0.38);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.userlogin { margin-bottom:30px;}
.userlogin h3 {color:#fff;}
.userlogin-form h3 {
    margin: 0 0 15px;
}
.userlogin-form .form-control {
	height:45px;border: 1px solid #777; background-color: rgba(0, 0, 0, 0.45); color: #fff;
}
.userlogin-form .btn {    padding: 9px 12px;
    font-size: 16px;}
	/******title******/
	.md-title {text-align:center; margin-bottom:20px; text-transform:uppercase;}
	.mdad-title {text-align:center; margin-bottom:20px; text-transform:uppercase; color:#fff;}
	.userlogin .contact-us li {
    padding: 2px 0px !important; color:#fff;
}
	.userlogin .contact-us li i {
    color: #121212;
    float: left;
    margin: 4px 0 0;
	font-size: 25px;
}
.userlogin .contact-us p {
    line-height: 24px;
    margin-left: 30px;
    margin-top: 1px;
    color: #fff;
	margin-bottom: 0px;
}
.userlogin .contact-us p a { color:#fff;}
.co-black { color: #121212; margin-right:15px;}
.btn-co-purple {background-color:#6b7fdf; border:0px; color:#fff;}
img .big-img {width: 200px;
    margin: 20px 20px;}
.suc{
	display: none;
	background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.suc p{
	margin: 0px;
	color: #3c763d;
}
.err{
   	display: none;
   	margin-top: 10px;
    padding: 10px;
    background: #e8bbbb;
    text-align: center;
    border-radius: 5px;
   }
  .err p{
  	margin: 0px;
  	color: #ff0e09;
  }